<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VM Selector - All Providers</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="css/_root.css">
    <link rel="stylesheet" href="css/_nav.css">
    <link rel="stylesheet" href="css/_provider.css">
    <link rel="stylesheet" href="css/_footer.css">
</head>
<body>
    <%- include('include/_nav') %>
    <div class="container-fluid">
        <div id="forml" class="row" style="margin-top: 100px;">
            <div class="col-1"></div>
            <div class="col-10">
                <h1>Search - All Providers</h1>
            </div>
            <div class="col-1"></div>
            <div class="col-12"></div>
            <!---->
            <form method="get" action="/providers" class="row g-3">
                <!---->
                <div class="col-12">
                    <h3>Especific</h3>
                </div>
                <div class="col-12">
                    <label for="vCPUs" class="form-label">vCPUs</label>
                    <select id="vCPUs" class="form-select" name="vCPUs">
                        <option value="">All Options</option> 
                        <% for (const i in prCPU) { %>
                            <option value="<%= prCPU[i] %>"><%= prCPU[i] %></option>
                        <% } %>
                    </select>
                </div>
                <div class="col-4">
                    <label for="CpuArchitectureType" class="form-label">Cpu Architecture Type</label>
                     <select id="CpuArchitectureType" class="form-select" name="cpuArch"> 
                        <option value="">All Options</option>
                        <% for (const i in prCpuArch) { %>
                            <option value="<%= prCpuArch[i] %>"><%= prCpuArch[i] %></option>
                        <% } %>
                    </select>
                </div>
                <div class="col-4">
                    <label for="vCPUpCore" class="form-label">Cores</label>
                     <select id="vCPUpCore" class="form-select" name="cpuPerCore"> 
                        <option value="">All Options</option>
                        <% for (const i in prCore) { %>
                            <option value="<%= prCore[i] %>"><%= prCore[i] %></option>
                        <% } %>
                    </select>
                </div>
                <div class="col-4">
                    <label for="MaxNetworkInterfaces" class="form-label">Max Network Interfaces</label>
                     <select id="MaxNetworkInterfaces" class="form-select" name="netInter"> 
                        <option value="">All Options</option>
                        <% for (const i in prNetInt) { %>
                            <option value="<%= prNetInt[i] %>"><%= prNetInt[i] %></option>
                        <% } %>
                    </select>
                </div>
                <!---->
                <div class="col-12">
                    <button type="submit" class="btn btn-warning">Search</button>
                </div>
            </form>
        </div>
        <div id="list" class="row" style="margin-top: 40px;">
            <div class="col-1"></div>
            <div class="col-10">
                <h1>List</h1>
            </div>
            <div class="col-1"></div>
            <div class="col-12"></div>
            <!---->
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Capabilities</th>
                        <th>Create</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(const i in prI) { %>
                        <tr>
                            <% if (prI[i].InstanceType) { %>
                                <th><%= prI[i].InstanceType %></th>
                                <th>
                                    <div class="modal fade" id="capabilities<%= i %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel"><%= prI[i].InstanceType %></h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <li style="list-style-type: none;">CPU Architecture: <%= prI[i].ProcessorInfo.SupportedArchitectures %></li>
                                                    <li style="list-style-type: none;">vCPU: <%= prI[i].VCpuInfo.DefaultVCpus %></li>
                                                    <li style="list-style-type: none;">Cores: <%= prI[i].VCpuInfo.DefaultCores %></li>
                                                    <li style="list-style-type: none;">Threads Per Core: <%= prI[i].VCpuInfo.DefaultThreadsPerCore %></li>
                                                    <li style="list-style-type: none;">Ram (MB): <%= prI[i].MemoryInfo.SizeInMiB %></li>
                                                    <li style="list-style-type: none;">Network Performance: <%= prI[i].NetworkInfo.NetworkPerformance %></li>
                                                    <li style="list-style-type: none;">Max Network Interfaces: <%= prI[i].NetworkInfo.MaximumNetworkInterfaces %></li>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#capabilities<%= i %>">
                                        Capabilities
                                    </button>
                                </th>
                                
                                <th><a href="/generate-aws?id=<%= prI[i]._id%>" target="_blank" ><button type="button" class="btn btn-primary btn-lg" >Create</button></a></th>
                            <% } else { %>
                                <th><%= prI[i].size %></th>
                                <th>
                                    <div class="modal fade" id="capabilities<%= i %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel"><%= prI[i].name %></h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <% for(var j = 0; j < (prI[i].capabilities).length; j++) { %>
                                                        <li style="list-style-type: none;"><%= prI[i].capabilities[j].name %> : <%= prI[i].capabilities[j].value %></li>
                                                    <% } %>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#capabilities<%= i %>">
                                        Capabilities
                                    </button>
                                </th>
                                <th><a href="/generate-az?id=<%= prI[i]._id %>" target="_blank"><button type="button" class="btn btn-primary btn-lg">Create</button></a></th>
                            </tr>
                            <% } %>
                        </tr>
                    <%}%>
                </tbody>
            </table>
        </div>
    </div>
    <%- include('include/_footer') %>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</html>