<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VM Selector - Azure</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="css/_root.css">
    <link rel="stylesheet" href="css/_nav.css">
    <link rel="stylesheet" href="css/_provider.css">
    <link rel="stylesheet" href="css/_footer.css">
</head>
<body>
    <%- include('include/_nav') %>
    <div class="container-fluid">
        <div id="forml" class="row" style="margin-top: 100px;">
            <div class="col-1"></div>
            <div class="col-10">
                <h1>Search - Azure</h1>
            </div>
            <div class="col-1"></div>
            <div class="col-12"></div>
            <!---->
            <form method="get" action="/azure" class="row g-3">
                <div class="col-12">
                    <h3>General</h3>
                </div>
                <div class="col-6">
                    <label for="region" class="form-label">Region</label>
                    <select id="region" class="form-select" name="region">  
                        <% for(var i = 0; i < azR.length; i++) { %>
                            <option value="<%= azR[i] %>"><%= azR[i] %></option>
                        <% } %>
                        <option value="">All Options</option> 
                    </select>
                </div>
                <div class="col-6">
                    <label for="family" class="form-label">Family</label>
                    <select id="family" class="form-select" name="family">
                        <option value="">All</option>
                        <option value="standardA">A</option>
                        <option value="standardB">B</option>
                        <option value="standardC">C</option>
                        <option value="standardD">D</option>
                        <option value="standardE">E</option>
                        <option value="standardF">F</option>
                        <option value="standardG">G</option>
                        <option value="standardH">H</option>
                        <option value="standardL">L</option>
                        <option value="standardM">M</option>
                        <option value="standardN">N</option>
                    </select>
                </div>
                <!---->
                <div class="col-12">
                    <h3>Especific</h3>
                </div>
                <div class="col-6">
                    <label for="vCPUs" class="form-label">vCPUs</label>
                    <select id="vCPUs" class="form-select" name="vCPUs">
                        <option value="">All Options</option> 
                        <% for(var i = 0; i < azCPU.length; i++) { %>
                            <option value="<%= azCPU[i] %>"><%= azCPU[i] %></option>
                        <% } %>
                    </select>
                </div>
                <div class="col-6">
                    <label for="Ram" class="form-label">Ram(GB)</label>
                     <select id="Ram" class="form-select" name="ram"> 
                        <option value="">All Options</option>
                        <% for(var i = 0; i < azRam.length; i++) { %>
                            <option value="<%= azRam[i] %>"><%= azRam[i] %></option>
                        <% } %>
                    </select>
                </div>
                <div class="col-4">
                    <label for="CpuArchitectureType" class="form-label">Cpu Architecture Type</label>
                     <select id="CpuArchitectureType" class="form-select" name="cpuArch"> 
                        <option value="">All Options</option>
                        <% for(var i = 0; i < azCpuArch.length; i++) { %>
                            <option value="<%= azCpuArch[i] %>"><%= azCpuArch[i] %></option>
                        <% } %>
                    </select>
                </div>
                <div class="col-4">
                    <label for="vCPUpCore" class="form-label">vCPUs Per Core</label>
                     <select id="vCPUpCore" class="form-select" name="cpuPerCore"> 
                        <option value="">All Options</option>
                        <% for(var i = 0; i < azCore.length; i++) { %>
                            <option value="<%= azCore[i] %>"><%= azCore[i] %></option>
                        <% } %>
                    </select>
                </div>
                <div class="col-4">
                    <label for="MaxNetworkInterfaces" class="form-label">Max Network Interfaces</label>
                     <select id="MaxNetworkInterfaces" class="form-select" name="netInter"> 
                        <option value="">All Options</option>
                        <% for(var i = 0; i < azNetInt.length; i++) { %>
                            <option value="<%= azNetInt[i] %>"><%= azNetInt[i] %></option>
                        <% } %>
                    </select>
                </div>
                <!---->
                <div class="col-12">
                    <button type="submit" class="btn btn-warning">Search</button>
                </div>
            </form>
        </div>
        <div id="list" class="row" style="margin-top: 40px;">
            <div class="col-1"></div>
            <div class="col-10">
                <h1>List</h1>
            </div>
            <div class="col-1"></div>
            <div class="col-12"></div>
            <!---->
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>Size</th>
                        <th>Name</th>
                        <th>Family</th>
                        <th>Capabilities</th>
                        <th>Location</th>
                        <th>Create</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < azI.length; i++) { %>
                        <tr>
                            <th><%= azI[i].size %></th>
                            <th><%= azI[i].name %></th>
                            <th><%= azI[i].family %></th>
                            <th>
                                <div class="modal fade" id="capabilities<%= i %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel"><%= azI[i].name %></h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <% for(var j = 0; j < (azI[i].capabilities).length; j++) { %>
                                                    <li style="list-style-type: none;"><%= azI[i].capabilities[j].name %> : <%= azI[i].capabilities[j].value %></li>
                                                <% } %>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#capabilities<%= i %>">
                                    Capabilities
                                </button>
                            </th>
                            <th><%= azI[i].locations %></th>
                            <th><a href="/generate-az?id=<%= azI[i]._id %>" target="_blank"><button type="button" class="btn btn-primary btn-lg">Create</button></a></th>
                        </tr>
                    <%}%>
                </tbody>
            </table>
        </div>
    </div>
    <%- include('include/_footer') %>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</html>